* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Sen", sans-serif;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
}

.header {
  min-height: 88px;
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #000000), color-stop(30%, #181823));
  background: linear-gradient(to right, #000000 40%, #181823 30%);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header .header_content {
  display: grid;
  grid-template-columns: 50% 10% 40%;
  grid-template-rows: 88px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header_content .menu_logo {
  grid-column: 1/3;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header_content .menu_logo a {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.header .header_content .menu_nav {
  grid-column: 3/3;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}
.header .header_content .menu_nav a {
  font-family: Sen;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #FFFFFF;
  padding: 9px 9px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration: none;
}
.header .header_content .menu_nav a:hover {
  background-color: #5221E6;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  border-radius: 10px;
}
.header .header_content .menu_nav a:hover:first-child {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
.header .header_content .menu_nav a:hover:nth-child(2) {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
.header .header_content .menu_nav a:active {
  background-color: #E95D90;
}

.main {
  min-height: 814px;
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #000000), color-stop(30%, #181823));
  background: linear-gradient(to right, #000000 40%, #181823 30%);
}
.main .main_content {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 150px 500px 300px;
}
.main .main_content .main_img {
  grid-column: 1;
  grid-row: 2/2 span;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .main_content .main_img img {
  min-height: 700px;
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.main .main_content .main_img img:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0 2px 40px #000000, 0 2px 50px #000000;
          box-shadow: 0 2px 40px #000000, 0 2px 50px #000000;
}
.main .main_content .main_title {
  grid-column: 2 span;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
}
.main .main_content .main_title h1 {
  z-index: 1;
  font-family: Sen;
  font-size: 78px;
  font-weight: 700;
  line-height: 94px;
  color: #5221E6;
}
.main .main_content .main_title h1 .gray_h1 {
  color: #5B6876;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.main .main_content .main_title h1 .gray_h1:hover {
  color: #3CC74E;
}
.main .main_content .main_subtitle {
  grid-column: 2 span;
  grid-row: 3/3;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .main_content .main_subtitle p {
  z-index: 1;
  font-family: Sen;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #FFFFFF;
}

.company {
  min-height: 715px;
  background-color: #000000;
}
.company .company_content {
  display: grid;
  grid-template-columns: 33% 33% 34%;
  grid-template-rows: 150px 200px 1fr;
}
.company .company_content .company_subtitle {
  grid-column: 1/3;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.company .company_content .company_subtitle p {
  font-family: Sen;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #8491A0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 10px;
}
.company .company_content .company_subtitle p:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  background-color: #5221E6;
  border-radius: 10px;
  color: #FFF3E4;
}
.company .company_content .company_title {
  grid-column: 1/2 span;
  grid-row: 2;
}
.company .company_content .company_title h2 {
  font-family: Sen;
  font-size: 55px;
  font-weight: 700;
  line-height: 80px;
  color: #FFFFFF;
}
.company .company_content .company_inner {
  grid-column: 1/3 span;
  grid-row: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.company .company_content .company_inner p:first-child {
  font-family: Sen;
  font-size: 117px;
  font-weight: 400;
  line-height: 141px;
  color: #8491A0;
}
.company .company_content .company_inner h3 {
  font-family: Sen;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
}
.company .company_content .company_inner h3 .green {
  color: #3CC74E;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.company .company_content .company_inner h3 .green:hover {
  padding: 10px;
  background-color: #FFF3E4;
  border-radius: 20px;
}
.company .company_content .company_inner h3 .blue {
  color: #5221E6;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.company .company_content .company_inner h3 .blue:hover {
  background-color: #E95D90;
  padding: 10px;
  border-radius: 20px;
}
.company .company_content .company_inner h3 .pink {
  color: #E95D90;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.company .company_content .company_inner h3 .pink:hover {
  background-color: #5221E6;
  padding: 10px;
  border-radius: 20px;
}
.company .company_content .company_inner p {
  font-family: Sen;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #5B6876;
}

.values {
  min-height: 600px;
  background-color: #FFF3E4;
}
.values .values_content {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 200px 230px 170px;
}
.values .values_content .values_title {
  grid-column: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.values .values_content .values_title h2 {
  font-family: Sen;
  font-size: 55px;
  font-weight: 700;
  line-height: 80px;
  color: #000000;
}
.values .values_content .values_subtitle {
  grid-column: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.values .values_content .values_subtitle p {
  font-family: Sen;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #5B6876;
}
.values .values_content .values_btn {
  grid-column: 1;
  grid-row: 3/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.values .values_content .values_btn a {
  font-family: Sen;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  text-underline-offset: 10px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.values .values_content .values_btn a:hover {
  color: #5221E6;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}
.values .values_content .values_btn a:active {
  color: #E95D90;
}
.values .values_content .values_img {
  grid-column: 2;
  grid-row: 1 span;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.values .values_content .values_img img {
  min-height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.values .values_content .values_img img:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0 2px 40px #000000, 0 2px 50px #000000;
          box-shadow: 0 2px 40px #000000, 0 2px 50px #000000;
}

.skillset {
  min-height: 664px;
  background-color: #000000;
}
.skillset .skillset_content {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 70px 260px 260px;
}
.skillset .skillset_content .skillset_title {
  grid-column: 1;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.skillset .skillset_content .skillset_title h2 {
  font-family: Sen;
  font-size: 55px;
  font-weight: 700;
  line-height: 80px;
  color: #FFFFFF;
  cursor: default;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.skillset .skillset_content .skillset_title h2:hover {
  color: #3CC74E;
}
.skillset .skillset_content .skillset_subtitle {
  grid-column: 1;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.skillset .skillset_content .skillset_subtitle p {
  font-family: Sen;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #8491A0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.skillset .skillset_content .skillset_subtitle p:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  color: #3CC74E;
}
.skillset .skillset_content .skillset_inner {
  grid-column: 2;
  grid-row: 2/2 span;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.skillset .skillset_content .skillset_inner .skillset_item {
  display: grid;
  justify-items: end;
  gap: 17px;
}
.skillset .skillset_content .skillset_inner .skillset_item h3 {
  font-family: Sen;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  cursor: default;
  overflow: hidden;
  padding: 7px;
  border-radius: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.skillset .skillset_content .skillset_inner .skillset_item h3:hover {
  background-color: #E95D90;
}
.skillset .skillset_content .skillset_inner .skillset_item p {
  font-family: Sen;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #8491A0;
}

.slider {
  padding: 10px;
  min-height: 180px;
  background-color: #000000;
  overflow: hidden;
  position: relative;
}
.slider .slider_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-transform: translateX(-7%);
          transform: translateX(-7%);
}
.slider .slider_items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 400px;
  min-height: 140px;
  border: 1px solid #5B6876;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.slider .slider_items .item:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  border: 5px solid;
  border-color: #5221E6;
}

.work {
  padding-top: 100px;
  min-height: 1900px;
  background-color: #000000;
}
.work .work_content {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 20px 210px 500px 700px 80px;
  gap: 20px;
  grid-row-gap: 17px;
}
.work .work_content .work_subtitle {
  grid-column: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.work .work_content .work_subtitle p {
  font-family: Sen;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #8491A0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 10px;
}
.work .work_content .work_subtitle p:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  background-color: #5221E6;
  border-radius: 10px;
  color: #FFF3E4;
}
.work .work_content .work_title {
  grid-column: 1;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.work .work_content .work_title h2 {
  font-family: Sen;
  font-size: 55px;
  font-weight: 700;
  line-height: 80px;
  color: #FFFFFF;
}
.work .work_content .work_items_left {
  grid-column: 1;
  grid-row: 3/4 span;
  min-height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.work .work_content .work_items_left .work_item {
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #181823;
}
.work .work_content .work_items_left .work_item .work_img {
  width: 100%;
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
}
.work .work_content .work_items_left .work_item .work_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.work .work_content .work_items_left .work_item .work_img img:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0 2px 40px #000000, 0 2px 50px #000000;
          box-shadow: 0 2px 40px #000000, 0 2px 50px #000000;
}
.work .work_content .work_items_left .work_item .work_descr_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 22px;
}
.work .work_content .work_items_left .work_item .work_descr_text h3 {
  font-family: Sen;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
}
.work .work_content .work_items_left .work_item .work_descr_text p {
  font-family: Sen;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #5B6876;
}
.work .work_content .work_items_right {
  grid-column: 2;
  grid-row: 1/2 span;
  max-height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.work .work_content .work_items_right .work_item {
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #181823;
}
.work .work_content .work_items_right .work_item .work_img {
  width: 100%;
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
}
.work .work_content .work_items_right .work_item .work_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.work .work_content .work_items_right .work_item .work_img img:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0 2px 40px #000000, 0 2px 50px #000000;
          box-shadow: 0 2px 40px #000000, 0 2px 50px #000000;
}
.work .work_content .work_items_right .work_item .work_descr_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 22px;
}
.work .work_content .work_items_right .work_item .work_descr_text h3 {
  font-family: Sen;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
}
.work .work_content .work_items_right .work_item .work_descr_text p {
  font-family: Sen;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #5B6876;
}
.work .work_content .work_btn {
  grid-column: 2;
  grid-row: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.work .work_content .work_btn a {
  font-family: Sen;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #5221E6;
  border-radius: 10px;
  padding: 24px 32px;
  color: #FFFFFF;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.work .work_content .work_btn a:hover {
  border: none;
  background-color: #3CC74E;
}
.work .work_content .work_btn a:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.instagram {
  min-height: 600px;
  background-color: #FFF3E4;
}
.instagram .instagram_content {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 200px 230px 170px;
}
.instagram .instagram_content .insta_title {
  grid-column: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.instagram .instagram_content .insta_title h2 {
  font-family: Sen;
  font-size: 55px;
  font-weight: 700;
  line-height: 80px;
  color: #000000;
}
.instagram .instagram_content .insta_subtitle {
  grid-column: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.instagram .instagram_content .insta_subtitle p {
  font-family: Sen;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #5B6876;
}
.instagram .instagram_content .insta_btn {
  grid-column: 1;
  grid-row: 3/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.instagram .instagram_content .insta_btn a {
  font-family: Sen;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  text-underline-offset: 10px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.instagram .instagram_content .insta_btn a:hover {
  color: #5221E6;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}
.instagram .instagram_content .insta_btn a:active {
  color: #E95D90;
}
.instagram .instagram_content .insta_img {
  grid-column: 2;
  grid-row: 1 span;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.instagram .instagram_content .insta_img img {
  min-height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.instagram .instagram_content .insta_img img:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0 2px 40px #000000, 0 2px 50px #000000;
          box-shadow: 0 2px 40px #000000, 0 2px 50px #000000;
}

.dribbble {
  min-height: 1248px;
  background-color: #000000;
}
.dribbble .dribbble_content {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 450px 1110px;
}
.dribbble .dribbble_content .drib_main_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dribbble .dribbble_content .drib_main_text .drib_title {
  grid-column: 1;
  grid-row: 1;
}
.dribbble .dribbble_content .drib_main_text .drib_title h2 {
  font-family: Sen;
  font-size: 55px;
  font-weight: 700;
  line-height: 80px;
  color: #FFFFFF;
}
.dribbble .dribbble_content .drib_main_text .drib_subtitle {
  grid-column: 1;
  grid-row: 1;
}
.dribbble .dribbble_content .drib_main_text .drib_subtitle p {
  font-family: Sen;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #5B6876;
}
.dribbble .dribbble_content .drib_main_text .drib_btn {
  grid-column: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.dribbble .dribbble_content .drib_main_text .drib_btn a {
  font-family: Sen;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  text-underline-offset: 10px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  color: #FFFFFF;
}
.dribbble .dribbble_content .drib_main_text .drib_btn a:hover {
  color: #5221E6;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}
.dribbble .dribbble_content .drib_main_text .drib_btn a:active {
  color: #E95D90;
}
.dribbble .dribbble_content .drib_img {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  max-height: 640px;
  -o-object-fit: contain;
     object-fit: contain;
}
.dribbble .dribbble_content .drib_img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.dribbble .dribbble_content .drib_img img:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0 2px 40px #000000, 0 2px 50px #000000;
          box-shadow: 0 2px 40px #000000, 0 2px 50px #000000;
}

.about {
  min-height: 2800px;
  background-color: #000000;
}
.about .about_content {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
}
.about .about_content .about_main_text {
  grid-column: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
.about .about_content .about_main_text .about_title {
  font-family: Sen;
  font-size: 55px;
  font-weight: 700;
  line-height: 80px;
  color: #FFFFFF;
}
.about .about_content .about_main_text .about_subtitle {
  font-family: Sen;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #5B6876;
}
.about .about_content .about_main_text .about_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about .about_content .about_main_text .about_btn a {
  font-family: Sen;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  text-underline-offset: 10px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  color: #FFFFFF;
}
.about .about_content .about_main_text .about_btn a:hover {
  color: #5221E6;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}
.about .about_content .about_main_text .about_btn a:active {
  color: #E95D90;
}
.about .about_content .about_inner {
  grid-column: 2/2;
  grid-row: 1;
  min-height: 830px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
.about .about_content .about_inner .about_item {
  min-height: 830px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #000000;
  border: 1px solid #8491A0;
  gap: -5px;
}
.about .about_content .about_inner .about_item .about_img {
  width: 100%;
  min-height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}
.about .about_content .about_inner .about_item .about_img img {
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.about .about_content .about_inner .about_item .about_img img:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0 2px 40px #000000, 0 2px 50px #000000;
          box-shadow: 0 2px 40px #000000, 0 2px 50px #000000;
}
.about .about_content .about_inner .about_descr_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 10% auto;
  gap: 22px;
}
.about .about_content .about_inner .about_descr_text h3 {
  font-family: Sen;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
}
.about .about_content .about_inner .about_descr_text h4 {
  font-family: Sen;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #5B6876;
  border-radius: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.about .about_content .about_inner .about_descr_text h4:hover {
  background-color: #E95D90;
  color: #FFFFFF;
  padding: 7px;
}
.about .about_content .about_inner .about_descr_text p {
  font-family: Sen;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #5B6876;
}

.photo {
  min-height: 959px;
  background-color: #000000;
}
.photo .photo_content {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 200px 100px 500px 1fr;
}
.photo .photo_content .photo_text {
  grid-column: 1/2;
  grid-row: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.photo .photo_content .photo_text h2 {
  font-family: Sen;
  font-size: 55px;
  font-weight: 700;
  line-height: 80px;
  color: #FFFFFF;
}
.photo .photo_content .photo_text p {
  font-family: Sen;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #8491A0;
}
.photo .photo_content .photo_tabs {
  grid-column: 1;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 40px;
}
.photo .photo_content .photo_tabs button {
  font-family: Sen;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #FFFFFF;
  padding: 12px 38px;
  border-radius: 10px;
  background: none;
  border: 1px solid #5221E6;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration: none;
}
.photo .photo_content .photo_tabs button:hover {
  background-color: #5221E6;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  border-radius: 10px;
}
.photo .photo_content .photo_tabs button:hover:first-child {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
.photo .photo_content .photo_tabs button:hover:nth-child(2) {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
.photo .photo_content .photo_item {
  grid-column: 1/2 span;
  grid-row: 3 span;
  min-height: 800px;
}
.photo .photo_content .photo_item .tabs_item:not(._active) {
  display: none;
}
.photo .photo_content .photo_item .tabs_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 400px;
  min-width: 300px;
  width: auto;
  height: 60%;
  -o-object-fit: contain;
     object-fit: contain;
}
.photo .photo_content .photo_item .tabs_item img {
  max-width: 300px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  min-height: 600px;
  background-color: #000000;
}
.form .form_content {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 200px 300px;
}
.form .form_content .form_text {
  grid-column: 1/2;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 30px;
}
.form .form_content .form_text h2 {
  font-family: Sen;
  font-size: 55px;
  font-weight: 700;
  line-height: 80px;
  color: #FFFFFF;
}
.form .form_content .form_text p {
  font-family: Sen;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #5B6876;
}
.form .form_content .form_request {
  grid-column: 2/2;
  grid-row: 1/2 span;
}
.form .form_content .form_request .inner_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  gap: 40px;
}
.form .form_content .form_request .inner_form .input_name {
  min-width: 500px;
  min-height: 50px;
  color: #FFFFFF;
  border: none;
  background-color: #181823;
}
.form .form_content .form_request .inner_form .input_name:focus {
  outline: 1px solid #5221E6;
}
.form .form_content .form_request .inner_form .input_name::-webkit-input-placeholder {
  position: absolute;
  z-index: 2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: Sen;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #FFFFFF;
}
.form .form_content .form_request .inner_form .input_name::-moz-placeholder {
  position: absolute;
  z-index: 2;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: Sen;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #FFFFFF;
}
.form .form_content .form_request .inner_form .input_name:-ms-input-placeholder {
  position: absolute;
  z-index: 2;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: Sen;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #FFFFFF;
}
.form .form_content .form_request .inner_form .input_name::-ms-input-placeholder {
  position: absolute;
  z-index: 2;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: Sen;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #FFFFFF;
}
.form .form_content .form_request .inner_form .input_name::placeholder {
  position: absolute;
  z-index: 2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: Sen;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #FFFFFF;
}
.form .form_content .form_request .inner_form .input_name:focus::-webkit-input-placeholder {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  color: #5221E6;
}
.form .form_content .form_request .inner_form .input_name:focus::-moz-placeholder {
  transform: translateY(40px);
  color: #5221E6;
}
.form .form_content .form_request .inner_form .input_name:focus:-ms-input-placeholder {
  transform: translateY(40px);
  color: #5221E6;
}
.form .form_content .form_request .inner_form .input_name:focus::-ms-input-placeholder {
  transform: translateY(40px);
  color: #5221E6;
}
.form .form_content .form_request .inner_form .input_name:focus::placeholder {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  color: #5221E6;
}
.form .form_content .form_request .inner_form .input_email {
  min-width: 500px;
  min-height: 50px;
  color: #FFFFFF;
  background-color: #181823;
  border: none;
}
.form .form_content .form_request .inner_form .input_email:focus {
  outline: 1px solid #5221E6;
}
.form .form_content .form_request .inner_form .input_email::-webkit-input-placeholder {
  position: absolute;
  z-index: 2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: Sen;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #FFFFFF;
}
.form .form_content .form_request .inner_form .input_email::-moz-placeholder {
  position: absolute;
  z-index: 2;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: Sen;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #FFFFFF;
}
.form .form_content .form_request .inner_form .input_email:-ms-input-placeholder {
  position: absolute;
  z-index: 2;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: Sen;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #FFFFFF;
}
.form .form_content .form_request .inner_form .input_email::-ms-input-placeholder {
  position: absolute;
  z-index: 2;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: Sen;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #FFFFFF;
}
.form .form_content .form_request .inner_form .input_email::placeholder {
  position: absolute;
  z-index: 2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: Sen;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #FFFFFF;
}
.form .form_content .form_request .inner_form .input_email:focus::-webkit-input-placeholder {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  color: #5221E6;
}
.form .form_content .form_request .inner_form .input_email:focus::-moz-placeholder {
  transform: translateY(40px);
  color: #5221E6;
}
.form .form_content .form_request .inner_form .input_email:focus:-ms-input-placeholder {
  transform: translateY(40px);
  color: #5221E6;
}
.form .form_content .form_request .inner_form .input_email:focus::-ms-input-placeholder {
  transform: translateY(40px);
  color: #5221E6;
}
.form .form_content .form_request .inner_form .input_email:focus::placeholder {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  color: #5221E6;
}
.form .form_content .form_request .inner_form .input_message {
  min-width: 500px;
  min-height: 100px;
  color: #FFFFFF;
  background-color: #181823;
  border: none;
}
.form .form_content .form_request .inner_form .input_message:focus {
  outline: 1px solid #5221E6;
}
.form .form_content .form_request .inner_form .input_message::-webkit-input-placeholder {
  position: absolute;
  z-index: 2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: Sen;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #FFFFFF;
}
.form .form_content .form_request .inner_form .input_message::-moz-placeholder {
  position: absolute;
  z-index: 2;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: Sen;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #FFFFFF;
}
.form .form_content .form_request .inner_form .input_message:-ms-input-placeholder {
  position: absolute;
  z-index: 2;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: Sen;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #FFFFFF;
}
.form .form_content .form_request .inner_form .input_message::-ms-input-placeholder {
  position: absolute;
  z-index: 2;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: Sen;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #FFFFFF;
}
.form .form_content .form_request .inner_form .input_message::placeholder {
  position: absolute;
  z-index: 2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: Sen;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #FFFFFF;
}
.form .form_content .form_request .inner_form .input_message:focus::-webkit-input-placeholder {
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
  color: #5221E6;
}
.form .form_content .form_request .inner_form .input_message:focus::-moz-placeholder {
  transform: translateY(60px);
  color: #5221E6;
}
.form .form_content .form_request .inner_form .input_message:focus:-ms-input-placeholder {
  transform: translateY(60px);
  color: #5221E6;
}
.form .form_content .form_request .inner_form .input_message:focus::-ms-input-placeholder {
  transform: translateY(60px);
  color: #5221E6;
}
.form .form_content .form_request .inner_form .input_message:focus::placeholder {
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
  color: #5221E6;
}
.form .form_content .form_request .inner_form .label_btn {
  font-family: Sen;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 24px 32px;
  background-color: #5221E6;
  color: #FFFFFF;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.form .form_content .form_request .inner_form .label_btn:hover {
  border: none;
  background-color: #3CC74E;
}
.form .form_content .form_request .inner_form .label_btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.form .form_content .form_request .inner_form .hidden_form {
  color: #FFFFFF;
  display: none;
}

.footer {
  min-height: 400px;
  background-color: #181823;
}
.footer .footer_content {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 300px 50px;
}
.footer .footer_content .footer_logo {
  grid-column: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
}
.footer .footer_content .footer_icons {
  grid-column: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.footer .footer_content .footer_icons img {
  max-width: 40px;
}
.footer .footer_content .footer_copiright {
  grid-column: 1;
  grid-row: 2;
}
.footer .footer_content .footer_copiright p {
  font-family: Sen;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #8491A0;
}
.footer .footer_content .footer_nav {
  grid-column: 2;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer .footer_content .footer_nav .nav_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.footer .footer_content .footer_nav .nav_left a {
  font-family: Sen;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  padding: 10px;
  color: #FFFFFF;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.footer .footer_content .footer_nav .nav_left a:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  background-color: #5221E6;
  border-radius: 10px;
  color: #FFF3E4;
}
.footer .footer_content .footer_nav .nav_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.footer .footer_content .footer_nav .nav_right a {
  font-family: Sen;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  padding: 10px;
  color: #FFFFFF;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.footer .footer_content .footer_nav .nav_right a:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  background-color: #5221E6;
  border-radius: 10px;
  color: #FFF3E4;
}